.General {
  margin-top: 50px;
  justify-content: center;
  display: ruby-text-container;
}
origin .General{
  margin-bottom: 15;
  width: min-content;
  text-align: center;
  padding-inline:40px;
  border-radius: 15;
  border-radius: 50;
}